{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/document.css' %}">
{% endblock %}

{% block extra_title %}Dokument{% endblock %}

{% block content %}
<!-- index.html content starts here -->

<div class="container-xxl bg-light my-4">
    <div class="row justify-content-center p-2">
        <h2 class="col-12 text-center mt-2">Dokument & Länkar</h2>
        <hr class="col-11">
        {% for document in documents %}
        <div class="col-12 col-md-6 my-4">
            <div class="row justify-content-center p-0">
                {% if document.category == "dokument" %}
                <div class="col-12 text-center">
                    <h4><i class="fa-solid fa-file-invoice me-2 document-icon"></i>{{ document.name }}</h4>
                </div>
                <div class="col-12 text-center">
                    <a href="{{ document.url }}" target="_blank" class="btn btn-sm btn-primary">
                        Öppna Dokument<i class="fa-regular fa-folder-open ms-2"></i>
                    </a>
                </div>
                {% elif document.category == "länk" %}
                <div class="col-12 text-center">
                    <h4><i class="fa-solid fa-link me-2 url-icon"></i>{{ document.name }}</h4>
                </div>
                <div class="col-12 text-center">
                    <a href="{{ document.url }}" target="_blank" class="btn btn-sm btn-primary">
                        Gå till sida<i class="fa-solid fa-arrow-up-right-from-square ms-2"></i>
                    </a>
                </div>
                {% endif %}
                <hr class="col-10 col-md-7 mt-2">
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}