/* General -------------------------------------------------- */
body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../images/background.webp");
    background-size: cover;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", serif;
}


/* Navbar -------------------------------------------------- */
#nav-logo {
    width: 150px;
}


/* Footer -------------------------------------------------- */
#footer-logo {
    width: 120px;
    background-color: rgb(216, 216, 216);
    border-radius: 50%;
    padding: 10px;
    border: 1px solid black;
}