{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-xxl">
        <a class="navbar-brand" href="#">
            <img id="nav-logo" 
            src="{% static 'images/onums-friskola-logga.png' %}" alt="Önmus Friskola logga">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" 
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav primary">
                <li class="nav-item dropdown">
                    <a class="nav-link {% if request.path == home_url %}nav-active" 
                    aria-current="page{% endif %}" href="{% url 'home' %}">
                        HEM
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link {% if request.path == home_url %}nav-active" 
                    aria-current="page{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        OM OSS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'home' %}">Personal</a></li>
                        <li><a class="dropdown-item" href="{% url 'home' %}">Historia</a></li>
                        <li><a class="dropdown-item" href="{% url 'home' %}">Sök Tjänst</a></li>
                        <li><a class="dropdown-item" href="{% url 'home' %}">Önums Andan</a></li>
                        <li><a class="dropdown-item" href="{% url 'home' %}">Elevhälsa</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link {% if request.path == home_url %}nav-active" 
                    aria-current="page{% endif %}" href="{% url 'school_classes' %}">
                        KLASSER
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link {% if request.path == home_url %}nav-active" 
                    aria-current="page{% endif %}" href="{% url 'documents' %}">
                        DOKUMENT & LÄNKAR
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>