{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/school_classes.css' %}">
{% endblock %}

{% block extra_title %}
    {% if school_class %}
        {{ school_class.name }} 
    {% else %}
        Klasser
    {% endif %}
{% endblock %}

{% block content %}
<!-- School_classes.html content starts here -->

<div class="container-xxl main-container my-4">
    <div class="row justify-content-center p-2">
        <h2 class="col-12 text-center mt-3 h1">{% if school_class %}{{ school_class.name }} {% else %}Alla Klasser{% endif %}</h2>
        <hr class="col-11 mb-0">
        
            <div class="row justify-content-center gy-3 gx-3 mt-1 mb-2">
                {% for school_class in school_classes %}
                    <div class="col-12 col-sm-6 col-lg-4">
                        <a href="{% url 'school_class' school_class.slug %}">
                            <div class="content-container">
                                <h4 class="class-name mb-0 pb-1">{{ school_class.name }}</h4>
                                <img src="https://media.istockphoto.com/id/1227523318/sv/vektor/stor-brun-stubbe-med-gr%C3%A4s-i-tecknad-stil-p%C3%A5-vit-bakgrund.jpg?s=170667a&w=0&k=20&c=L3YvQOBVXNnKY2mgDVOIcqQ5midk7evi7Ziu93st_hI=" alt=""
                                class="img-fluid">
                            </div>
                        </a>
                    </div>
                
                {% endfor %}
            </div>
        
    </div>
</div>

<!-- School_classes.html content ends here -->
{% endblock %}+