{% load static %}

{% url 'home' as home_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">

    {% block bootstrap %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block corejs %}
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <!-- Google Fonts  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <script src="https://kit.fontawesome.com/6b05e2d640.js" crossorigin="anonymous"></script>

    <title>{% block extra_title %}{% endblock %} | Önums Friskola</title>
</head>

<body>
    <!--Navbar-->
    {% include 'includes/navbar.html' %}

    <main>

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

    </main>

    <!-- Footer -->
    <footer class="text-center text-lg-start mt-auto">
        <!-- Section: Social Media  -->
        <div class="d-flex justify-content-center justify-content-lg-between pt-4 pb-1 container-xxl">
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <div class="">
                <a href="https://www.facebook.com" class="me-4 text-reset text-decoration-none" 
                    target="_blank">
                    <i class="fab fa-facebook-f social-icon"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCQn96YRpVpEtaxSCe-J7QjA" class="me-4 text-reset text-decoration-none" 
                    target="_blank" rel=”noopener”>
                    <i class="fab fa-youtube social-icon"></i>
                </a>
            </div>
        </div>
        <hr class="m-0 ">

        <!-- Section: Links  -->
        <section class=" ">
            <div class="container-xxl text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'images/onums-friskola-logga.png' %}" id="footer-logo" class="mb-2" alt="">
                        </a>
                        <p>
                            Lorem, ipsum similique, illum incidunt quibusdam et deserunt nobis minus nisi corporis maxime magnam sed?
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Placeholder
                        </h6>
                        <p>
                            <a href="{% url 'home' %}" class="">Placeholder</a>
                        </p>
                        <p>
                            <a href="{% url 'home' %}" class="">Placeholder</a>
                        </p>
                        <p>
                            <a href="{% url 'home' %}" class="">Placeholder</a>
                        </p>
                        <p>
                            <a href="{% url 'home' %}" class="">Placeholder</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="{% url 'home' %}" 
                            class="">Placeholder</a>
                        </p>
                        <p>
                            <a href="{% url 'home' %}" class="">Placeholder</a>
                        </p>
                        <p>
                            <a href="{% url 'home' %}" class="">Placeholder</a>
                        </p>
                        <p>
                            <a href="{% url 'home' %}" class="">Placeholder</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contact Information
                        </h6>
                        <p>
                            <i class="fas fa-home me-3"></i> Stockholm, 10012, SE</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i> onums_friskola@gmail.com
                        </p>
                        <p>
                            <i class="fas fa-phone me-3"></i> + 01 234 567 88
                        </p>
                        <p>
                            <i class="fas fa-print me-3"></i> + 01 234 567 89
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </footer>

    {% block postloadjs %}
    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" 
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    {% endblock %}

</body>

</html>