.about-school {
    display: flex;
    flex-direction: column;
    align-items: center;
};

/* Showcase section -------------------------------------------------- */
.showcase .showcase-item {
    min-height: 30rem;
    max-height: 60rem;
}

.showcase .showcase-item .showcase-img {
    height: 30rem;
}

.showcase .showcase-item .showcase-text {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.green {
    background-color: #639865;
    padding: 3px;
    margin: 5px;
}